html,
body,
main,
#root {
	height: 100%;
}

body {
	height: 100%;
}

ol {
	margin-left: 0;
	padding-left: 3em;
}

.bg-header {
	background-color: #b1b2ff;
}

.bg-main {
	background-color: #eef1ff;
	/* min-height: 86.9%; */
}

.bg-ternary {
	background-color: #aac4ff;
}

.bg-secondary {
	background-color: #d2daff;
}

.navbar {
	/* min-height: 10%; */
}

.navbar-brand {
	font-family: "Inspiration", cursive;
	font-size: 1.5rem;
}

.nav-item {
	font-family: "Open Sans", sans-serif;
}

.caption {
	font-size: smaller;
	padding-top: 0;
}

.border-color {
	border: 3px solid;
	border-color: #aac4ff;
	border-radius: 15%;
}

.footer {
	background-color: #aac4ff;
	/* min-height: 10%; */
}

.anchor-icon {
	font-size: 2rem;
	color: black;
}

.anchor-icon:hover {
	color: #eef1ff;
}
